
run = "echo 'This is a static site'"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "python -m http.server 0.0.0.0:5000"]

[workflows]
runButton = "Preview Server"

[[workflows.workflow]]
name = "Run"
author = 40752925
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 0.0.0.0:5000"

[[workflows.workflow]]
name = "Preview Server"
author = 40752925
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
